body {
	background-color: green;
}

label {
	position: absolute;
	left: 5px;
}

input {
margin-right: 5px;
border: 1px solid black;
}

#leftpane {

	position: absolute;
	left: 50%;
	float: left;
	margin-top: 100px;
	margin-left: -340px;
	width: 340px;
	height: 400px;
	background-image: url('wimage.png');
	border: 1px solid black;
	
	}

#rightpane {
	position: absolute;
	right: 50%;
	float: left;
	margin-right: -270px;
	margin-top: 100px;
	float: left;
	width: 260px;
	height: 400px;
	text-align: right;
	}

#login {
	padding-top:5px;
	padding-bottom: 5px;
	clear: right;
	border: 1px solid black;
	background: white;
	height: 80px;
	}
#signup {
	margin-top: 5px;
	clear: right;
	border: 1px solid black;
	background: white;
	padding-bottom: 4px;
	height: 300px;
	}
	
ul {
	font-weight:bold;
	font-size:20px;
	list-style-type: none;
}
