<html>
<body>

Sign up user 1 (password = "a")<br/>
<form name="signupform1" action="/sign_up" method="post">
	<label for="username">Username:</label> <input type="text" name="email" value="test@user1"><br/>
	<label for="password">Password:</label> <input type="password" name="password" value="a"><br/>
	<label for="password2">Repeat PWD:</label><input type="password" name="password2" value="a"><br/>
	<label for="name">First Name:</label> <input type="text" name="firstname" value="first1"><br/>
	<label for="fname">Family Name:</label> <input type="text" name="familyname" value="name1"><br/>
	<label for="gender">Gender:</label>
	<select name="gender" id="gender">
  			<option value="male">Male</option>
  			<option value="female">Female</option>
	</select> <br/>
	<label for="city">City:</label> <input type="text" name="city" value="somecity1"><br/>
	<label for="country">County:</label> <input type="text" name="country" value="somecountry1"><br/>
	<input type="submit" value="Sign up"> 
	<br/>				
</form>	<br/>

Sign up user 2 (password = "a")<br/>
<form name="signupform2" action="/sign_up" method="post">
	<label for="username">Username:</label> <input type="text" name="email" value="test@user2"><br/>
	<label for="password">Password:</label> <input type="password" name="password" value="a"><br/>
	<label for="password2">Repeat PWD:</label><input type="password" name="password2" value="a"><br/>
	<label for="name">First Name:</label> <input type="text" name="firstname" value="first2"><br/>
	<label for="fname">Family Name:</label> <input type="text" name="familyname" value="name2"><br/>
	<label for="gender">Gender:</label>
	<select name="gender" id="gender">
  			<option value="male">Male</option>
  			<option value="female">Female</option>
	</select> <br/>
	<label for="city">City:</label> <input type="text" name="city" value="somecity2"><br/>
	<label for="country">County:</label> <input type="text" name="country" value="somecountry2"><br/>
	<input type="submit" value="Sign up"> 
	<br/>				
</form>	<br/>

Sign in user 1 (password = "a")<br/>
<form action="/signin" method="post">
email: <input type="text" name="email" value="test@user1"><br>
password: <input type="password" name="password" value="a"><br>
<input type="submit">
</form>
<br/>
Post message to user 2
Post message test<br/>
<form name="postmessage" action="/post_message" method="post">
	<label for="recipient">Recipient:<input type="text" name="recipient" value="test@user2"><br/>
	<label for="message">Message:<input type="text" name="message" value="hello my name is user1 and im writing this to you, user2"><br/>
	<input type="submit" value="post message">
</form>
<br/>
get message of user2 by email<br/>
<form name="getmessagesemail" action="/get_user_messages_by_email" method="post">
	<label for="recipient">email:<input type="text" name="email" value="test@user2"><br/>
	<input type="submit" value="get message">
</form>
<br/>
<a href="/logout">Log Out</a><br/>
<br/>
Sign in user 2 (password = "a")<br/>
<form action="/signin" method="post">
email: <input type="text" name="email" value="test@user2"><br>
password: <input type="password" name="password" value="a"><br>
<input type="submit">
</form>
<br/>
Post message to signed in user<br/>
<form name="postmessage" action="/post_message" method="post">
	<label for="recipient">Recipient:<input type="text" name="recipient" value="{{  token  }}"><br/>
	<label for="message">Message:<input type="text" name="message" value="hello this is a message for myself"><br/>
	<input type="submit" value="post message">
</form>
<br/>
get message of signedinuser<br/>
<form name="getmessagesemail" action="/get_user_messages_by_email" method="post">
	<label for="recipient">email:<input type="text" name="email" value="{{ token }}"><br/>
	<input type="submit" value="get message">
</form>
<br/>

<a href="/logout">Log Out</a><br/>
<br/>
Sign in user 1 (password = "a")<br/>
<form action="/signin" method="post">
email: <input type="text" name="email" value="test@user1"><br>
password: <input type="password" name="password" value="a"><br>
<input type="submit">
</form>
<br/>

</body>
</html>